div(ng-init="priPhone=#{priPhone}; visibleTab='basic'; priPhoneValidated=true")
	div.row
		div.col-md-3(style='margin: 10px')
			| Address Name:
			span.glyphicon.glyphicon-question-sign(style="margin: 2px", tooltip-control="Provide a friendly name for the address that you wish to add.")			
			br
			input(type='text', ng-model='addressName')
			&nbsp;&nbsp;
			button.btn.btn-primary(type='button', ng-click='addAddress()') Add
			div
				table.table.table-hover
					thead
						//th Event ID
						th Address Name
						th
					tbody
						tr(ng-if="addressArr==[]") 
							td No addresses found.
						tr(ng-repeat="address in addressArr", ng-click="selectAddress($index)", ng-class="{warning: selectedRow==$index}")
							td
								span(ng-if="address.incomplete==true", style="color: RED")
									{{address.addressName}}
								span(ng-if="address.incomplete==false")
									{{address.addressName}}
							td
								span(class="glyphicon glyphicon-minus-sign", ng-click="deleteAddress($index)")
				div
					p(ng-if="addressArr==null || addressArr.length==0") 
						small Note: Address information is incomplete. You must add an address by entering a friendly name above.
					p(ng-if="infoMissing==true && !(addressArr==null || addressArr.length==0)") 
						small Note: Address information is incomplete for the addresses marked in RED above. Check the Summary Tab to view missing details. Address information must be complete to recieve emergency alert messages.
		div.col-md-8(ng-class='{addressDiv: selectedRow==null}', style)
			h5 Details for Address {{addressArr[selectedRow].addressName}}
			div.alert.alert-success(notifier)
				| {{notification}}
			div.alert.alert-danger(error-bar)
				| {{errors}}
			div
				ul.nav.nav-tabs
					li(ng-click="tabClick('basic')", ng-class="{active: visibleTab=='basic'}") 
						a Basic
					li(ng-click="tabClick('address')", ng-class="{active: visibleTab=='address'}") 
						a Address
					li(ng-click="tabClick('phone')", ng-class="{active: visibleTab=='phone'}") 
						a Additional Phones
					li(ng-click="tabClick('summary')", ng-class="{active: visibleTab=='summary'}") 
						a Summary
				div(ng-class="{hidden: !(visibleTab=='basic')}")
					br
					div.row(style='margin-bottom: 5px')
						div.col-md-4 
							| Primary Phone Number:
							span.glyphicon.glyphicon-question-sign(style="margin: 2px", tooltip-control="Your primary phone number that will be used to login to CDM. Ensure that this is not a shared phone.")			
						div.col-md-2 
							label(ng-if="pendingPriPhone!=null") {{pendingPriPhone}}
							label(ng-if="pendingPriPhone==null") {{priPhone}}
						div.col-md-1
							button.btn.btn-primary(ng-click="editPhone('pendingPriPhone')") Edit 
						div.col-md-4
							span(ng-if='!priPhoneValidated')
								div
									button.btn.btn-primary(ng-click='sendValidationCode("pendingPriPhone")', style="margin: 1px") Validate
									button.btn.btn-primary(ng-click='enterCode(pendingPriPhone)', style="margin: 1px") Enter Code
							span(ng-if='priPhoneValidated')
								span.glyphicon.glyphicon-ok
					div.row(style='margin-bottom: 5px')
						div.col-md-4 Your National Registration Number:
						div.col-md-2
							input(type='text', ng-model='nrn')
					div.row(style='margin-bottom: 5px')
						div.col-md-4 Your Name: 
						div.col-md-2
							input(type='text', ng-model='name')
				div(ng-class="{hidden: !(visibleTab=='address')}")
					div.row
						div.col-md-11
							input(type='text', id='autocomplete', address-autocomplete, ng-focus='addFocus=true;', ng-blur='addFocus=false;', style="width: 100%", placeholder='Enter your address...', ng-model='addressArr[selectedRow].googleAddress')
						div.col-md-1
							span.glyphicon.glyphicon-question-sign(style="margin: 2px", tooltip-control="Start typing your complete address here and select from a list of options that will be provided.")			
					div.row
						div.col-md-2 Street Address:
						div.col-md-3
							input(type='text', id='street_number', disabled, style="width: 100%", ng-model='addressArr[selectedRow].streetNumber')
						div.col-md-6
							input(type='text', id='route', disabled, style="width: 100%", ng-model='addressArr[selectedRow].route')
					div.row
						div.col-md-2 City:
						div.col-md-9
							input(type='text', id='locality', disabled, style="width: 100%", ng-model='addressArr[selectedRow].locality')
					div.row
						div.col-md-2 State:
						div.col-md-3
							input(type='text', id='administrative_area_level_1', disabled, style="width: 100%", ng-model='addressArr[selectedRow].admAreaLevel1')
						div.col-md-2 Zip Code:
						div.col-md-4
							input(type='text', id='postal_code', disabled, style="width: 100%", ng-model='addressArr[selectedRow].postalCode')
					div.row
						div.col-md-2 Country:
						div.col-md-9
							input(type='text', id='country', disabled, style="width: 100%", ng-model='addressArr[selectedRow].country')
					div.row
						div.col-md-12.google-map(maps="", latitude="50.6", longitude="4.7", class="google-map", zoom="8")
				div(ng-class="{hidden: !(visibleTab=='phone')}")
					br
					p 
						small Note: You can enter upto 2 fixed phone numbers and 2 mobile phone numbers. The numbers will have to be validated to become active. Validation code will be sent as a voice call in case of fixed phone and as an sms in case of mobile phone. 
					div.row(style='margin-bottom: 5px')
						div.col-md-3 Fixed Phone 1: 
						div.col-md-2 
							label(ng-if="addressArr[selectedRow].pendingFixedPhone1!=null") {{addressArr[selectedRow].pendingFixedPhone1}}
							label(ng-if="addressArr[selectedRow].pendingFixedPhone1==null") {{addressArr[selectedRow].fixedPhone1}}
						div.col-md-1
							button.btn.btn-primary(ng-click="editPhone('pendingFixedPhone1')") Edit 
						div.col-md-4
							span(ng-if='!addressArr[selectedRow].fixedPhone1Validated')
								div
									button.btn.btn-primary(ng-click='sendValidationCode("pendingFixedPhone1")', style="margin: 1px") Validate
									button.btn.btn-primary(ng-click='enterCode(addressArr[selectedRow].pendingFixedPhone1)', style="margin: 1px") Enter Code
							span(ng-if='addressArr[selectedRow].fixedPhone1Validated')
								span.glyphicon.glyphicon-ok	
					div.row(style='margin-bottom: 5px')
						div.col-md-3 Fixed Phone 2: 
						div.col-md-2 
							label(ng-if="addressArr[selectedRow].pendingFixedPhone2!=null") {{addressArr[selectedRow].pendingFixedPhone2}}
							label(ng-if="addressArr[selectedRow].pendingFixedPhone2==null") {{addressArr[selectedRow].fixedPhone2}}
						div.col-md-1
							button.btn.btn-primary(ng-click="editPhone('pendingFixedPhone2')") Edit 
						div.col-md-4
							span(ng-if='!addressArr[selectedRow].fixedPhone2Validated')
								div
									button.btn.btn-primary(ng-click='sendValidationCode("pendingFixedPhone2")', style="margin: 1px") Validate
									button.btn.btn-primary(ng-click='enterCode(addressArr[selectedRow].pendingFixedPhone2)', style="margin: 1px") Enter Code
							span(ng-if='addressArr[selectedRow].fixedPhone2Validated')
								span.glyphicon.glyphicon-ok	
					div.row(style='margin-bottom: 5px')
						div.col-md-3 Mobile Phone 1: 
						div.col-md-2 
							label(ng-if="addressArr[selectedRow].pendingMobilePhone1!=null") {{addressArr[selectedRow].pendingMobilePhone1}}
							label(ng-if="addressArr[selectedRow].pendingMobilePhone1==null") {{addressArr[selectedRow].mobilePhone1}}
						div.col-md-1
							button.btn.btn-primary(ng-click="editPhone('pendingMobilePhone1')") Edit 
						div.col-md-4
							span(ng-if='!addressArr[selectedRow].mobilePhone1Validated')
								div
									button.btn.btn-primary(ng-click='sendValidationCode("pendingMobilePhone1")', style="margin: 1px") Validate
									button.btn.btn-primary(ng-click='enterCode(addressArr[selectedRow].pendingMobilePhone1)', style="margin: 1px") Enter Code
							span(ng-if='addressArr[selectedRow].mobilePhone1Validated')
								span.glyphicon.glyphicon-ok	
					div.row(style='margin-bottom: 5px')
						div.col-md-3 Mobile Phone 2: 
						div.col-md-2 
							label(ng-if="addressArr[selectedRow].pendingMobilePhone2!=null") {{addressArr[selectedRow].pendingMobilePhone2}}
							label(ng-if="addressArr[selectedRow].pendingMobilePhone2==null") {{addressArr[selectedRow].mobilePhone2}}
						div.col-md-1
							button.btn.btn-primary(ng-click="editPhone('pendingMobilePhone2')") Edit 
						div.col-md-4
							span(ng-if='!addressArr[selectedRow].mobilePhone2Validated')
								div
									button.btn.btn-primary(ng-click='sendValidationCode("pendingMobilePhone2")', style="margin: 1px") Validate
									button.btn.btn-primary(ng-click='enterCode(addressArr[selectedRow].pendingMobilePhone2)', style="margin: 1px") Enter Code
							span(ng-if='addressArr[selectedRow].mobilePhone2Validated')
								span.glyphicon.glyphicon-ok
				div(ng-class="{hidden: !(visibleTab=='summary')}")
					div(html-text)
			button.btn.btn-primary(type='button', ng-click='updateAddress()', style='margin: 10px') Save
			button.btn.btn-primary(type='button', ng-click='logoff()', style='margin: 10px') Exit
div.modal.fade(edit-phone-modal)
	div.modal-dialog
		div.modal-content
			div.modal-header
				button.close(type='button', data-dismiss='modal', aria-hidden='true', ng-click='editPhoneModalShow=false; newPhoneNumber=""') &times;
				h4.modal-title Change Phone Number
			div.modal-body
				p Enter your new phone number:
				input(type="text", ng-model='newPhoneNumber', placeholder='New Phone Number...');
				br
				small Enter your phone number in [00][Country Code][Area Code][Phone Number]. For eg. 1. A phone number in Norway will be: 004792509644. 2. A phone number in India will be: 00914132334270.
			div.modal-footer
				button.btn.btn-default(type='button', data-dismiss='modal', ng-click='editPhoneModalShow=false; newPhoneNumber=""') Cancel
				button.btn.btn-primary(type='button', ng-click='saveNewPhone()') Save
div.modal.fade(delivery-method-modal)
	div.modal-dialog
		div.modal-content
			div.modal-header
				button.close(type='button', data-dismiss='modal', aria-hidden='true', ng-click='deliveryMethodModalShow=false') &times;
				h4.modal-title Phone Validation
			div.modal-body
				div(ng-init="deliveryMethod='voice'")
					| A code will be sent to your phone. You will have to enter the recieved code to validate your phone number.
					| Choose delivery method:
				input(type="radio", name="method", ng-click="deliveryMethod='sms'") 
				| SMS &nbsp;&nbsp;
				input(type="radio", name="method", ng-click="deliveryMethod='voice'", checked)
				| Voice
			div.modal-footer
				button.btn.btn-default(type='button', data-dismiss='modal', ng-click='deliveryMethodModalShow=false') Cancel
				button.btn.btn-primary(type='button', ng-click="sendValidationCodeAfterDeliveryMethod(deliveryMethod, 'pendingPriPhone')") Send Validation Code
div.modal.fade(code-entry-modal)
	div.modal-dialog
		div.modal-content
			div.modal-header
				button.close(type='button', data-dismiss='modal', aria-hidden='true', ng-click='codeEntryModalShow=false; valCode=""') &times;
				h4.modal-title Validation Code
			div.modal-body
				p Please enter the validation code sent to your number:
				input(type="text", ng-model='valCode', placeholder='Validation Code...')
				small Note: It may take upto 2 mins for the validation code to reach you. 
			div.modal-footer
				button.btn.btn-default(type='button', data-dismiss='modal', ng-click='codeEntryModalShow=false; valCode=""') Cancel
				button.btn.btn-primary(type='button', ng-click='validate()') Validate
