.row(style="text-align: -webkit-center")
	#mapArea.ma-big(latitude="12.967084", longitude="77.581129", zoom="8", google-map-status)
.row(style="margin-left: 20px")
	p 
		label Alert ID: 
		&nbsp; {{alertId}}
	p 
		label Alert Message: 
		&nbsp; {{message}}
	p 
		label # of Apps that received the alert: 
		&nbsp; {{count}}