extends layout

block body
  div
    img(src="img/umslogo.jpg", style="margin: 10px; float: left")
    div(style="float: right; margin-right: 20px")
      a(href='/sendalert') Send Alert
      span &nbsp; | &nbsp;
      a(href='/allalerts') View All Alerts
      span &nbsp; | &nbsp;
      a(href='/testalertget') Test Alert Getter
  div(ng-view)


  script(src='bower_components/angular/angular.js')
  script(src='bower_components/angular-route/angular-route.js')
  script(src='bower_components/jquery/jquery.js')
  script(src='bower_components/bootstrap/dist/js/bootstrap.js')
  script(src='bower_components/jquery-ui/ui/minified/jquery-ui.min.js')
  script(src='https://maps.googleapis.com/maps/api/js?key=AIzaSyBsbzGhxMV5F6DdlMHOH-DGkpo9A6JZQaw&sensor=false')
  script(src='js/app.js')
  script(src='js/services.js')
  script(src='js/controllers.js')
  script(src='js/filters.js')
  script(src='js/directives.js')
  script(src='/socket.io/socket.io.js')