html(ng-app="cdm")
  head
    meta(charset='utf8')
    base(href='/')
    title CDM
    link(rel='stylesheet', href='/css/app.css')
    link(rel="stylesheet", type="text/css", href="bower_components/bootstrap/dist/css/bootstrap.min.css")
    link(rel="stylesheet", type="text/css", href="bower_components/bootstrap/dist/css/bootstrap-theme.min.css")
  body
    block body
